ion-badge {
    min-width: 18px;
    font-size: 12px;
    left: calc(50% + 3px);
}
ion-tab-bar {
    --border: 0;
}
ion-label{
	font-family: "Roboto", "Helvetica Neue", sans-serif !important;
}

ion-tabs {
.svg {
    fill: grey;
    stroke: #1F51FF !important;
    stroke-width: 15;
    width: 20px;
}
}

ion-tabs .tab-selected {
.svg {
    fill: #1F51FF;
    stroke: transparent !important;
    stroke-width: 0;
    width: 20px;
}

ion-label {
    color: #1F51FF;
}
}



