.input_border {
  border-bottom: 2px solid #e342e6;
}
.ion_con {
  width: 17px;
  margin-left: 3px;
  padding-left: 2px;
}
.popover_setting .popover-content {
  --min-width: 600px !important;
  --min-height: 150px !important;
  --ion-background-color: white;
  --ion-text-color: black;
  background-color: white;
}
