.download {
    border: 1px solid #a78f37;
    font-size: 20px;
    color: #a78f37;
    display: flex;
    align-items: center;
}

.desc {
    border: 1px solid #a78f37;
    

    .heading {
        font-size: 20px;
        color: #a78f37;
        border-bottom: 1px solid #a78f37;
    }

    .description {
        font-size: 14;
        color: white;
    }
}