<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-uppercase"
      >{{api.pdffiles[index].title}}</ion-title
    >
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <pdf-viewer
    [src]="api.pdffiles[index].eg_thumbnail"
    [zoom]="1"
    [original-size]="false"
    [show-borders]="true"
  >
  </pdf-viewer> -->
  <!-- <ngx-extended-pdf-viewer
    [src]="'assets/example.pdf'"
    useBrowserLocale="true"
    height="80vh"
  ></ngx-extended-pdf-viewer> -->
</ion-content>
